<div *ngIf="selectedApi == 'Introduction'" class="{{selectedApi}}">
<strong>Introduction to Angular Link</strong>
<p>
    These Angular docs help you learn and use the Angular platform and framework, from your first app to optimizing complex enterprise apps. 
    Tutorials and guides include downloadable example to accelerate your projects.
</p>
</div>

<div *ngIf="selectedApi == 'SetUp'">
    Setting up the Local Environment and Workspace
    <button class="button{{selectedApi}}" (click)="removeSelectedApi('SetUp')">Remove</button>
</div>


<div *ngIf="selectedApi == 'Architecture'">
    Architecture overview
    <button (click)="removeSelectedApi('Architecture')">Remove</button>
</div>


<div *ngIf="selectedApi == 'Cheat Sheet'">
    Cheat Sheet
    <button (click)="removeSelectedApi('Cheat Sheet')">Remove</button>
</div> 