<div *ngIf="selectedApi == 'Introduction'" class="{{selectedApi}}">
Introduction to Angular Link
</div>

<div *ngIf="selectedApi == 'SetUp'">
    Setting up the Local Environment and Workspace
    <button class="button{{selectedApi}}" (click)="removeSelectedApi('SetUp')">Remove</button>
</div>


<div *ngIf="selectedApi == 'Architecture'">
    Architecture overview
    <button (click)="removeSelectedApi('Architecture')">Remove</button>
</div>


<div *ngIf="selectedApi == 'Cheat Sheet'">
    Cheat Sheet
    <button (click)="removeSelectedApi('Cheat Sheet')">Remove</button>
</div> 