<!-- Sample Angular project

- Registration
- Login

*Lazy loaded module (Interceptor)

- Home/Welcome Page
- Profile update/show (Include Image)


- Unit Test cases for all four components 



- ViewChild, @Input, @Output, event emitters 
-->



<router-outlet></router-outlet>


<!-- <mat-spinner></mat-spinner> -->
<div *ngIf="guestUserService.isLoading | async"  class="loaderdiv">
  <mat-spinner class="loader"></mat-spinner>
</div>

<p *ngIf="!(guestUserService.isLoading | async)">
  <!-- Not Loading! -->
</p>