<!-- Sample Angular project

- Registration
- Login

*Lazy loaded module (Interceptor)

- Home/Welcome Page
- Profile update/show (Include Image)


- Unit Test cases for all four components 

@Input <- Done
@Output <- Done
event emitter <- Done


ngOnChanges() <- Done



ngDestory() <- Done

@ViewChild
@ViewContent

- ViewChild, @Input, @Output, event emitters 










- whatever is done move to master branch and publish all the changes. 
- add unit test cases and e2e test cases for all the component and service.

- Angular.io notes prepare 
- JavaScript.info

- Nodejs unit testing
- Nodejs theory notes
- Nodejs Pug


- AWS

-->



<router-outlet></router-outlet>


<!-- <mat-spinner></mat-spinner> -->
<div *ngIf="guestUserService.isLoading | async"  class="loaderdiv">
  <mat-spinner class="loader"></mat-spinner>
</div>

<p *ngIf="!(guestUserService.isLoading | async)">
  <!-- Not Loading! -->
</p> 