<div class="main">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="login-wrap">
          <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" #signUp />
            <label for="tab-1" class="tab">Sign Up</label>
            <input id="tab-2" type="radio" name="tab" class="for-pwd" #signIn />
            <label for="tab-2" class="tab">Sign In</label>
            <div class="login-form">
              <div class="sign-in-htm">
                <app-registration></app-registration>
                <div class="hr"></div>
              </div>
              <div class="for-pwd-htm">
                <app-login></app-login>
                <div class="hr"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>