<div>
  <mat-card class="text-center">
    <mat-card-title>Profile Information

      <mat-card-actions *ngIf="!updateProfile" style="text-align: right">
        <button mat-button class="editButton" (click)="updateProfile = !updateProfile">Edit</button>
      </mat-card-actions>
    </mat-card-title>

    <!-- View Profile -->
    <mat-card-content *ngIf="profileForm && !updateProfile">

      <div class="row">
        <div class="col-md-4" id="">
          <img src="{{imageURL}}" alt="..." class=" img-thumbnail">
        </div>
        <div class="col-md-8" id="">
          <mat-list>
            <mat-list-item>Name: {{profileForm.controls.firstName.value}}
              {{profileForm.controls.lastName.value}}</mat-list-item>
            <mat-divider *ngIf="profileForm && !updateProfile"></mat-divider>
            <mat-list-item>UserName: {{profileForm.controls.username.value}}
            </mat-list-item>
          </mat-list>
        </div>
      </div>

    </mat-card-content>

    <!-- Edit Profile -->
    <div *ngIf="profileForm && updateProfile">
      <div class="row" style="margin-top: 50px !important;">
        <div class="col-md-4" id="">
          <img src="{{imageURL}}" alt="..." class="hoverable img-thumbnail">
          <input #imageFile  type="file"  accept="image/*"  (change)="handleFileInput($event.target.files)">
        </div>

        <div class="col-md-8" id="" class="text-left">
          <form [formGroup]="profileForm" (ngSubmit)="submitRegistrationForm()">
            <div class="form-group">
              <mat-form-field class="input-width" appearance="outline">
                <mat-label>First Name</mat-label>
                <input matInput type="text" id="" placeholder="Placeholder" formControlName="firstName">
                <mat-error id="" *ngIf="profileForm.controls.firstName.touched  && profileForm.controls.firstName.errors && profileForm.controls.firstName.errors.required">
                  First Name is required </mat-error>
                <mat-error *ngIf="profileForm.controls.firstName.touched  && profileForm.controls.firstName.errors && profileForm.controls.firstName.errors.pattern">
                  First Name is incorrect </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group">
              <mat-form-field class="input-width" appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" id="" placeholder="Last Name" formControlName="lastName">
                <mat-error id="" *ngIf="profileForm.controls.lastName.touched  && profileForm.controls.lastName.errors && profileForm.controls.lastName.errors.required">
                  Last Name is required </mat-error>
                <mat-error *ngIf="profileForm.controls.lastName.touched  && profileForm.controls.lastName.errors && profileForm.controls.lastName.errors.pattern">
                  Last Name is incorrect </mat-error>
              </mat-form-field>
            </div>

            <div class="form-group text-center" >
              <button mat-raised-button color="primary" type="submit">Update</button>
              <button mat-raised-button color="warn" type="cancel" (click)="updateProfile = !updateProfile">Cancel</button>
            </div>
          </form>
        </div>
      </div>

    </div>

  </mat-card>
</div>