<nav class="navbar navbar-expand-lg navbar-dark bg-light">
    <img width="45" alt="Angular Logo" src="../../../assets/icons/karma.png">

    <div class="navbar-nav">

    </div>

    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-item nav-link" routerLink="/login">Sign In</a>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-dark" routerLink="/getstarted">Get Stared</button>
            </li>
        </ul>
    </div>
</nav>



<div class="container">
    <div class="row">

        <div [ngClass]="isOpen ? 'col-12' : 'col-3'">
            <div *ngIf="!isOpen">
                <cdk-virtual-scroll-viewport class="list-container lg" itemSize="50" class="example-viewport">
                    <div *cdkVirtualFor="let blog of blogs" [@childAnimation]="isOpen ? 'open' : 'closed'" class="open-close-container card row">
                        <div class="card-body" [ngClass]="{'active': blogId == blog.id}" (click)="loadBlogContent(blog); isOpen = false;">
                            <h5 class="card-title">{{blog?.titile}}</h5>
                            <h6 *ngIf="isOpen" class="card-subtitle mb-2 text-muted">{{blog?.subTitle}}</h6>
                        </div>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
            <div *ngIf="isOpen">
                <div *ngFor="let blog of blogs; trackBy:identify" [@childAnimation]="isOpen ? 'open' : 'closed'" class="open-close-container card row">
                    <div class="card-body" [ngClass]="{'active': blogId == blog.id}" (click)="loadBlogContent(blog); isOpen = false;">
                        <h5 class="card-title">{{blog?.titile}}</h5>
                        <h6 *ngIf="isOpen" class="card-subtitle mb-2 text-muted">{{blog?.subTitle}}</h6>
                    </div>
                </div>
            </div>

        </div>


        <div [ngClass]="isOpen ? '' : 'col-9'">
            <div *ngIf="!isOpen">
                <app-blog-content [blogId]='blogId' [blogContents]='blogContents' (closeSelectedBlog)='openBlogList($event)'></app-blog-content>
            </div>
        </div>
    </div>


</div>






<router-outlet></router-outlet>